*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* rainbow */

  /* rainbow container */
#rainbow-container{
  width: 500px;
  height: 300px;
  margin-top: 100px;
  margin-left: 100px;
  animation: white 2s linear 1;
}
/* rainbow box */
.rainbow-box{
  height: 20px;
  width: 480px;
  margin-top: 15px;
}
/* rainbow color */
.violet-1{
  animation: violet 2s linear 1;
}
.indigo-1{  
  animation: indigo 2s linear ;
 
}
.blue-1{
    animation: blue 2s linear 1;
 
}
.green-1{
  animation: green 2s linear 1;

}
.yellow-1{
  animation: yellow 2s linear 1;
}
.orange-1{
  animation: orange 2s linear 1;

}
.red-1{
  animation: red 2s linear 1;
}

/* rainbow animation */

@keyframes violet {
  0%{
    background-color: white;
    top: 0%;
    left: 0%;
    width: 10%;
  }
  25%{
    background-color: violet;
    width: 40%;
  }
  50%{
    background-color: violet;
    width: 60%;
  }
  75%{
    background-color: violet;
    width: 80%;
  }
  100%{
    background-color: violet;
    width: 100%;
  }
}

@keyframes indigo {
  0%{
    background-color: white;
    top: 0%;
    left: 0%;
    width: 10%;
  }
  25%{
    background-color: indigo;
    width: 40%;
  }
  50%{
    background-color: indigo;
    width: 60%;
  }
  75%{
    background-color: indigo;
    width: 80%;
  }
  100%{
    background-color: indigo;
    width: 100%;
  }
}

@keyframes blue {
  0%{
    background-color: white;
    top: 0%;
    left: 0%;
    width: 10%;
  }
  25%{
    background-color: bluet;
    width: 40%;
  }
  50%{
    background-color: blue;
    width: 60%;
  }
  75%{
    background-color: blue;
    width: 80%;
  }
  100%{
    background-color: blue;
    width: 100%;
  }
}

@keyframes green {
  0%{
    background-color: white;
   
    width: 10%;
  }
  25%{
    background-color: green;
    width: 40%;
  }
  50%{
    background-color: green;
    width: 60%;
  }
  75%{
    background-color: green;
    width: 80%;
  }
  100%{
    background-color: green;
    width: 100%;
  }
}

@keyframes yellow {
  0%{
    background-color: white;
    top: 0%;
    left: 0%;
    width: 10%;
  }
  25%{
    background-color: yellow;
    width: 40%;
  }
  50%{
    background-color: yellow;
    width: 60%;
  }
  75%{
    background-color: yellow;
    width: 80%;
  }
  100%{
    background-color: yellow;
    width: 100%;
  }
}

@keyframes orange {
  0%{
    background-color: white;
    top: 0%;
    left: 0%;
    width: 10%;
  }
  25%{
    background-color: orange;
    width: 40%;
  }
  50%{
    background-color: orange;
    width: 60%;
  }
  75%{
    background-color: orange;
    width: 80%;
  }
  100%{
    background-color: orange;
    width: 100%;
  }
}
@keyframes red {
  0%{
    background-color: white;
    top: 0%;
    left: 0%;
    width: 10%;
  }
  25%{
    background-color: red;
    width: 40%;
  }
  50%{
    background-color: red;
    width: 60%;
  }
  75%{
    background-color: red;
    width: 80%;
  }
  100%{
    background-color: red;
    width: 100%;
  }
}


